.todoPage {
    display: flex;
    justify-content: center;
    background-color: #03032e;
    height: 100vh;
    padding: 32px 0;
    font-size: 32px;
    color: #efefef;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    background-color: inherit;
    height: fit-content;
    position: relative;
    padding: 32px;
    border: 2px solid #efefef;
    border-radius: 8px;
    width: 50vw;
    min-width: -webkit-fill-available;
    min-width: fit-content;
}

.todoTitle {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0.5em;
    z-index: 2;
    padding: 0 8px;
    background-color: inherit;
}

.newTodoRow {
}

.newTodoForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.newTodoInput {
    height: 2em;
    width: 60%;
    margin-right: 4px;
}

.addTodoButton {
    background-color: inherit;
    border: 2px solid #efefef;
    padding-top: 2px;
}

.addTodoButton:hover {
    cursor: pointer;
}

.todoListContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    border: 2px solid #efefef;
    border-radius: 8px;
}

.todoListRowNav {}

.activeTodoButton, .doneTodoButton{
    background-color: inherit;
    color: #efefef;
    border: 2px solid #efefef;
}

.activeTodoButton {}

.doneTodoButton {}

.todoList {}

.todoItem {}

.doneTodoCheckbox {}

.deleteTodoButton {}